name: CI
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
jobs:
  build-test:
    name: Build & unit tests
    runs-on: ubuntu-22.04
    steps:
      - name: Repository checkout # Checkouts our repo to the runner
        uses: actions/checkout@v6
      - name: Set up Java 17 # Installs java 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: Maven
      - name: Cache local Maven repository
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Show java & Maven
        run: java -version ./mvnw -v
      - name: Echo username
        run: echo ${{ secrets.USERNAME_SECRET }}