#first github workflow
name: Say hello

on: 
  push:
    branches:
      - main
      - master

jobs:
  hello_world:
    # Ubuntu stable version at 22/12/25
    runs-on: ubuntu-22.04
    steps:
      - name: Echo the message
        run: Echo "Hello world"
